body {
  font-family: "VT323", monospace;
  font-size: 26px;
}

.game-top {
  width: 485px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.game-info {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-intro {
  height: 300px;
  width: 500px;
  background-color: lightsteelblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-intro h2 {
  font-size: 32px;
  margin: 0px;
  padding: 10px;
}

.game-intro p {
  font-size: 18px;
  text-align: center;
  margin: 0px;
  padding: 0 5px;
}

.instructions {
  width: 85%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.instructions h4 {
  margin: 0px;
  padding-bottom: 10px;
  text-align: center;
}

.icons img {
  height: 40px;
  width: 40px;
}

#start-button {
  background-color: white;
  font-family: "VT323", monospace;
  font-size: 22px;
  width: 25%;
  padding: 3px;
}
